# Data constraints

## Data range example

In [ ]:
import datetime as dt
import pandas as pd
#user.signups.dtypes

In [ ]:
# convert to date
user_signups["subscription_date"] = pd.to_datetime(user_signups["subscription_date"]).dt.date

NameError: ignored

### Instructions
- Convert the tire_sizes column from category to 'int'.
- Use .loc[] to set all values of tire_sizes above 27 to 27.
- Reconvert back tire_sizes to 'category' from int.
- Print the description of the tire_sizes.

In [ ]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

NameError: ignored

### Instructions
- Create the variable today, which stores today's date by using the dt.date.today() function.
- For all instances of ride_dt in the future, set them to today's date.
- Print the maximum date in the ride_dt column.

In [ ]:
# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

NameError: ignored

## How to find duplicate values?

In [ ]:
height_weight.head()

NameError: ignored

In [ ]:
#get duplicates across all columns
duplicates = height_weight.duplicated()
print(duplicates)

NameError: ignored

In [ ]:
#get duplicated rows
duplicates = height_weight.duplicated()
height_weight[duplicates]

In [ ]:
#columns names to check for duplication
column_names = ["first_name", "last_name", "address"]
duplicates = height_weight.duplicated(subset= column_names, keep = False)

In [ ]:
height_weight[duplicates].sort_values(by = "first_name")

### How to treat duplicate values?
- The .drop_duplicates() method

In [ ]:
#drop duplicates
height_weight.drop_duplicates(inplace = True)

NameError: ignored

In [ ]:
#output duplicate values
column_names = ["first_name", "last_name", "address"]
duplicates = height_weight.duplicated(subset = column_names, keep = False)
height_weight[duplicates].sort_values(by = "first_name")

### How to treat duplicate values
- The groupby() and .agg() methods

In [ ]:
#group by column names and produce statistical summaries
column_names = ["first_name", "last_name", "address"]
summaries = {"height": "max", "weight": "mean"}
height_weight = height_weight.groupby(by = column_names).agg(summaries).reset_index()

In [ ]:
#make sure aggregation is done
duplicates = height_weight.duplicated(subset = column_names, keep = False)
height_weight[duplicates].sort_vales(by = "first_name")

### Exercise 
- Find duplicated rows of ride_id in the ride_sharing DataFrame while setting keep to False.
- Subset ride_sharing on duplicates and sort by ride_id and assign the results to duplicated_rides.
- Print the ride_id, duration and user_birth_year columns of duplicated_rides in that order.

In [ ]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset = 'ride_id', keep = False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')

# Print relevant columns
print(duplicated_rides[['ride_id','duration','user_birth_year']])